#include </home/ronin/.theme/sadgirl>  
  
!.... other xresource code goes here  

! clean up urxvt, add keybinds
URxvt.intensityStyles: false
URxvt.scrollBar: false 

!URxvt*depth: 32
Urxvt.font:xft:creep:size=11
URxvt.boldFont:

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1


!2bwm settings 

twobwm.border_width: 7
twobwm.outer_border: 3
twobwm.focus_color: #fefefe
twobwm.unfocus_color: #c3b9bf 
twobwm.fixed_color: #466a7a
twobwm.unkill_color: #f5887d
twobwm.outer_border_color: #f4afa8
twobwm.fixed_unkill_color: #f0c674
twobwm.inverted_colors: false
twobwm.enable_compton: false

*internalBorder: 20

! Colors  
!*background:   bg  
!*foreground:   fg  
!*color0:      blk  
!*color8:      bblk  
!*color1:      red  
!*color9:      bred  
!*color2:      grn  
!*color10:     bgrn  
!*color3:      ylw  
!*color11:     bylw  
!*color4:      blu  
!*color12:     bblu  
!*color5:      mag  
!*color13:     bmag  
!*color6:      cyn  
!*color14:     bcyn  
!*color7:      wht  
!*color15:     bwht
!

!colorscheme 
!
! special


