[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nathaniel/Desktop/gog_com-Shadowrun_Hong_Kong_Extended_Edition_2.desktop]
row=4
col=0

[/home/nathaniel/Desktop/gog_com-Shadowrun_Hong_Kong_Extended_Edition_1.desktop]
row=5
col=0

[/home/nathaniel/Desktop/Transistor.desktop]
row=6
col=0

[70c8140f-56eb-4770-93a8-01207c35d0ba]
row=0
col=0

[079f64fa-cdfc-4f64-b097-f69d65c5e418]
row=1
col=0

[/]
row=2
col=0

[/home/nathaniel]
row=3
col=0

